{:duct.profile/base
 {:duct.core/project-ns clj-webauthn

  :duct.router/ataraxy
  {:routes {[:get "/example"] [:clj-webauthn.handler/example]}}

  :clj-webauthn.handler/example
  {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site {}
 :duct.module/cljs {:main clj-webauthn.client}}
